.card-head{
    padding: 0px !important;
}

.active{
    
    background-image: linear-gradient(to top, #f9d938 0%, #d89b2d 100%);
}

.no-margin{
    margin-top: 0px !important;
    margin-left: 0px !important;
    margin-bottom: 0px !important;
    margin-right: 0px !important;
}

.nav-link{
    color:#fff;
}
.text-right{
    color:#fff;
}
