<div class="row justify-content-md-center">
    <div class="col-md-6">
        <div class="card card-box border-radius-12">
            <div class="card-head">
                <div class="form-group row no-margin" style="margin-bottom: 0px;">
                    <a class="col-md-6 col-xl-6 col-sm-6 col-6 text-center nav-menu nav-link {{isBuyActive?'active':''}} border-radius-8" routerLink="buy">Buy
                        Token</a>
                    <a class="col-md-6 col-xl-6 col-sm-6 col-6 text-center nav-menu nav-link border-radius-8 {{!isBuyActive?'active':''}}" routerLink="sell">Sell
                        Token</a>
                </div>
            </div>
            <div class="card-body">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<app-token-buy-history *ngIf="isBuyActive"></app-token-buy-history>
<app-token-sell-history *ngIf="!isBuyActive"></app-token-sell-history>