<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="card card-box">
            <div class="card-head">
                <header>S.G.M Elite</header>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover panel">
                        <thead>
                            <tr>
                                <th>Sr. No.</th>
                                <th>Pool</th>
                                <th>Amount Collected</th>
                                <th>Qualifiers Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let mine of data">
                                <td>{{mine.id}}</td>
                                <td>{{mine.poolName}}</td>
                                <td>{{mine.amountCollected}}</td>
                                <td>{{mine.qualifiersCount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-head">
                <header>S.G.M Noble</header>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover panel">
                        <thead>
                            <tr>
                                <th>Sr. No.</th>
                                <th>Pool</th>
                                <th>Amount Collected</th>
                                <th>Qualifiers Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let mine of data1">
                                <td>{{mine.id}}</td>
                                <td>{{mine.poolName}}</td>
                                <td>{{mine.amountCollected}}</td>
                                <td>{{mine.qualifiersCount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-head">
                <header>S.G.M Royal</header>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover panel">
                        <thead>
                            <tr>
                                <th>Sr. No.</th>
                                <th>Pool</th>
                                <th>Amount Collected</th>
                                <th>Qualifiers Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let mine of data2">
                                <td>{{mine.id}}</td>
                                <td>{{mine.poolName}}</td>
                                <td>{{mine.amountCollected}}</td>
                                <td>{{mine.qualifiersCount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>