<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="card card-box">
            <div class="card-head">
                <header>Token Buy History</header>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped panel">
                        <thead>
                            <tr>
                                <th>S.N</th>
                                <th>Deposit Amount</th>
                                <!-- <th>MTA Token</th> -->
                                <th> Token</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let income of directs">
                                <td>{{income.srno}}</td>
                                <td>{{income.pinValue}}</td>
                                <!-- <td>{{income.mtA_Token}}</td> -->
                                <td>{{income.tokenAmount}}</td>
                                <td>{{income.ondate }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>