<div class="form-group text-center">
    <b>Buy Price: 1 USDT = {{maticToToken}} {{tokenSymbol}}</b>
</div>
<form #buyForm=ngForm>
    <div class="form-group">
        <div class="col-md-12 text-right">
            Balance: <b>{{MaticBalance | number : "1.4"}} USDT</b>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <mat-form-field appearance="fill" class="font-size-16">
                <mat-label>USDT Amount</mat-label>
                <input matInput name="maticAmount" [(ngModel)]=maticAmount required #txtMaticAmount=ngModel disabled
                    type="number" [max]=MaticBalance class="width-100" />
            </mat-form-field>
            <app-validation-message [control]=txtMaticAmount></app-validation-message>
        </div>
    </div>
    <!-- <div class="form-group">
        <div class="row justify-content-center">
            <div class="col-md-2 col-sm-2 col-2 p-2 m-1">
                <button class="btn btn-warning" (click)=setAmount(25)>25%</button>
            </div>
            <div class="col-md-2 col-sm-2 col-2 p-2 m-1">
                <button class="btn btn-warning" (click)=setAmount(50)>50%</button>
            </div>
            <div class="col-md-2 col-sm-2 col-2 p-2 m-1">
                <button class="btn btn-warning" (click)=setAmount(75)>75%</button>
            </div>
            <div class="col-md-2 col-sm-2 col-2 p-2 m-1">
                <button class="btn btn-warning" (click)=setAmount(100)>100%</button>
            </div>
        </div>
    </div> -->
    <div class="form-group row">
        <div class="col-md-4 col-sm-4 col-4" *ngFor="let pack of packages">
            <button class="btn btn-warning m-2" (click)=setAmount(pack)>{{pack.description}}</button>
        </div>
    </div>
    <div class="form-group text-center">
        <a routerLink="../sell"><img src="assets/exchange.png" width="20" class="rotate-90" /></a>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <mat-form-field appearance="fill" class="font-size-16">
                <mat-label>{{tokenSymbol}} Amount</mat-label>
                <input matInput name="tokenAmount_WithoutDeduction" [(ngModel)]=tokenAmount_WithoutDeduction
                    #txtTokenAmount=ngModel disabled=true class="width-100 enabled" type="number" />
            </mat-form-field>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12 text-right">
            Deduction: <b>60%</b>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <mat-form-field appearance="fill" class="font-size-16">
                <mat-label>{{tokenSymbol}} Amount Received</mat-label>
                <input matInput name="tokenAmount" [(ngModel)]=tokenAmount #txtTokenAmount=ngModel disabled=true
                    class="width-100 enabled" type="number" />
            </mat-form-field>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12 text-center">
            <button mat-raised-button color="primary" class="pl-4 pr-4 pt-1 pb-1" (click)=buy()
                [disabled]=buyForm.invalid>BUY</button>
        </div>
    </div>
</form>