.login-6 {
    background: #000;
    min-height: 100vh;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    background-size: 100% 100%;
}
@media (min-width: 1200px){
.container {
    max-width: 1140px;
}
}

@media (min-width: 992px){
.container {
    max-width: 960px;
}
}

@media (min-width: 768px){
.container {
    max-width: 720px;
}
}

/* @media (min-width: 576px){
.container {
    max-width: 540px;
}
} */

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.login-box-6 {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* max-width: 445px; */
    border-radius: 10px;
    box-shadow: 0 0 35px rgb(0 0 0 / 10%);
    background: linear-gradient(90deg, rgb(35 21 21) 0%, rgb(222 136 136) 50%, rgb(45 29 7) 100%);
}

.login-6 .col-pad-0 {
    padding: 0;
}

.login-6 .login-inner-form {
    text-align: center;
}

.login-6 .login-inner-form .details {
    padding: 30px 10px 30px 10px;
}
