<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="card card-box">
            <div class="card-head">
                <header>S.G.M Qualification</header>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover panel" *ngIf="vipQualification.length>0">
                        <thead>
                            <tr>
                                <th>S.N</th>
                                <th>Type</th>
                                <th>Rank</th>
                                <th>Amount</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let vipRank of vipQualification">
                                <td>{{vipRank.srno}}</td>
                                <td>{{vipRank.type}}</td>
                                <td>{{vipRank.name}}</td>
                                <td>{{vipRank.amount}}</td>
                                <td>{{vipRank.onDate}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <label *ngIf="vipQualification.length==0">No record found</label>
                </div>
            </div>
        </div>
    </div>
</div>