<div class="row mt-5">
    <div routerLink="color" class="col-md-4 offset-md-2">
        <div class="card">
            <img src="assets/images/color-game.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Colors Game</h5>
            </div>
        </div>
    </div>
    <div routerLink="spin" class="col-md-4">
        <div class="card" >
            <img src="assets/images/spin-game.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Spin Game</h5>
            </div>
        </div>
    </div>
</div>