<div class="row">
    <div class="col-md-12">

        <div class="round">
            <section class="bgimg">
                <div class="sarcal">
                    <img id="imgSpin" src="assets/images/carcal.png"  />

                </div>
                <div class="to20">
                    <div class="counter">
                        <p id="timer"></p>
                    </div>
                    <div class="button" *ngIf="secondsRemaining<=0">
                        <button id="btnMint" class="btn btn-info" (click)="mine()"
                            style="font-family: Calibri; font-size: 25px; font-weight: bold; color:Green;">Mine</button>
                    </div>
                </div>

            </section>
        </div>
    </div>
</div>