<div class="row">
    <div class="col-md-12">
        <div class="card card-box">
            <div class="card-head">
                <header>Current Periods Details</header>
            </div>
            <div class="card-body">
                <app-bet (updateEvent)="refresh()"></app-bet>
                <div class="form-group" class="admin">
                    Total Bet Amount : {{totalBetAmount}}
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered" *ngIf="betInfo.length!=0">
                        <thead  class="admin">
                            <tr>
                                <th>
                                    Number
                                </th>
                                <th>
                                    Color
                                </th>
                                <th>
                                    Bet Amt. On Number
                                </th>
                                <th>
                                    Bet Amt. On Color
                                </th>
                                <th>
                                    Payout Amt. On Number
                                </th>
                                <th>
                                    Payout Amt. On Color
                                </th>
                                <th>
                                    Total Payout Amount
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of betInfo" class="{{row.IsPossibleWinner}}">
                                <td>{{row.Number}}</td>
                                <td>
                                    <span class="color-circle" [style.background]="row.Color1"></span>
                                    <span class="color-circle" [style.background]="row.Color2"></span>
                                </td>
                                <td>{{row.BetOnNumber | currencySymbol}}</td>
                                <td>{{row.BetOnColor1 | currencySymbol}}{{row.Number=='0' ||
                                    row.Number=='5'?','+(row.BetOnColor2 | currencySymbol):''}}</td>
                                <td>{{row.PayoutOnNumber | currencySymbol}}</td>
                                <td>{{row.PayoutOnColor1 | currencySymbol}}{{row.Number=='0' ||
                                    row.Number=='5'?','+(row.PayoutOnColor2 | currencySymbol):''}}</td>
                                <td>{{row.TotalPayoutAmount | currencySymbol}}</td>
                                <td><button class="btn btn-sm btn-danger" (click)="ForceWin(row.Number)">Force
                                        Win</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="betInfo.length==0">
                        <label>Fetching...</label>
                    </div>
                </div>
                <div style="height: 50px;">
                    <hr width="100%" />
                </div>
            </div>

            <div class="card-head">
                <header>Company Details</header>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" *ngIf="details!=undefined">
                    <thead class="admin">
                        <tr>
                            <th></th>
                            <th>
                                Today
                            </th>
                            <th>
                                Total
                            </th>
                        </tr>
                    </thead>
                    <tbody  class="admin" >
                        <tr>
                            <th>
                                Joining
                            </th>
                            <td>{{details.todayTotalJoining}}</td>
                            <td>{{details.totalJoining}}</td>
                        </tr>
                        <tr>
                            <th>
                                Level Income
                            </th>
                            <td>₹{{details.todayLevelIncome}}</td>
                            <td>₹{{details.totalLevelIncome}}</td>
                        </tr>
                        <tr>
                            <th>
                                Bet Placed
                            </th>
                            <td>₹{{details.todayBetAmount}}</td>
                            <td>₹{{details.totalBetAmount}}</td>
                        </tr>
                        <tr>
                            <th>
                                Bet Amount Won
                            </th>
                            <td>₹{{details.todayCommissionAmount}}</td>
                            <td>₹{{details.commissionAmount}}</td>
                        </tr>
                        <tr>
                            <th>
                                Investment
                            </th>
                            <td>₹{{details.todayInvestment}}</td>
                            <td>₹{{details.totalInvestment}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div style="height: 50px;">
                <hr width="100%" />
            </div>
            <app-previous-periods-win></app-previous-periods-win>

        </div>
    </div>
</div>