<div class="card">
  <div class="card-head" [style.background]="getColor(betOn)">
    <header>Join {{betOn}}</header>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="form-group">
        <label class="pl-2 font20">Contract Money</label>
        <ul class="list-group-horizontal pl-2">
          <li *ngFor="let item of amounts; let i = index" [ngClass]="{'active': selectedAmt === item}" [value]="item"
            (click)="onSelectedAmountChange(item)" class="list-group-item">
            {{item}}
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label class="pl-2 font20">Number</label>
      </div>
    </div>
    <div class="row">
      <div class="col-3 col-sm-3 col-md-3 col-lg-3">
        <button mat-fab color="primary" id="decrease" (click)="onQuantityChange('remove')">
          <i class="fas fa-minus fa-lg"></i>
        </button>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-6 bet-number-cnt text-center">
        <input class="w-100" readonly type="number" id="number" [value]="quantity">
      </div>
      <div class="col-3 col-sm-3 col-md-3 col-lg-3">
        <button mat-fab color="primary" id="increase" (click)="onQuantityChange('add')">
          <i class="fas fa-plus fa-lg"></i>
        </button>
      </div>
    </div>
    <div class="row mt-4">
      <div class="form-group">
        <label class="pl-2 font20">Total contract money is <span>{{totalAmount}}</span></label>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <div class="agree_box">
      <mat-checkbox class="" color="primary" id="chkPP" name="chkPP" [(ngModel)]="_agree"
        #privacyPolicyChecked="ngModel">
        <span class="van-checkbox__label">I agree <span class="greencolor"></span></span>
      </mat-checkbox>

    </div>

    <div class="row footer-btn">
      <div class="col-md-12 text-center">
        <button mat-flat-button color="warning" mat-dialog-close>CANCEL</button>
        <button mat-flat-button color="primary" (click)="onAddOrder()">CONFIRM</button>
      </div>
      
    </div>
  </div>
</div>