<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="card card-box">
            <div class="card-head">
                <header>S.G.M Income</header>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover panel" *ngIf="VIPIncome.length>0">
                        <thead>
                            <tr>
                                <th>S.N</th>
                                <th>Address</th>
                                <th>Income</th>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Rank</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let vipRank of VIPIncome">
                                <td>{{vipRank.srno}}</td>
                                <td>{{vipRank.userId}}</td>
                                <td>{{vipRank.income}}</td>
                                <td>{{vipRank.ondate}}</td>
                                <td>{{vipRank.onAmount}}</td>
                                <td>{{vipRank.rank}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <label *ngIf="VIPIncome.length==0">No record found</label>
                </div>
            </div>
        </div>
    </div>
</div>