.bet-on-color{
    display: block;
    border-radius: 20px;
    height: 15px;
    width: 15px;
}

.color-circle{
    display: inline-block;
    border-radius: 20px;
    width: 15px;
    height: 15px;
}
table[_ngcontent-dbq-c229] thead[_ngcontent-dbq-c229] tr[_ngcontent-dbq-c229] th[_ngcontent-dbq-c229], table[_ngcontent-dbq-c229] tbody[_ngcontent-dbq-c229] tr[_ngcontent-dbq-c229] td[_ngcontent-dbq-c229] span[_ngcontent-dbq-c229] {
    font-size: 18px;
}
.ng-star-inserted h5 {
    color: #fff;
    font-size: 15px;
}
.card {
    background: #000;
    box-shadow: inset 1px 0px 15px 3px #ffffff96 !important;
    padding: 0 20px 0 15px;
}
.float-right{
    color:#fff;
}
table[_ngcontent-fkg-c229] thead[_ngcontent-fkg-c229] tr[_ngcontent-fkg-c229] th[_ngcontent-fkg-c229], table[_ngcontent-fkg-c229] tbody[_ngcontent-fkg-c229] tr[_ngcontent-fkg-c229] td[_ngcontent-fkg-c229] span[_ngcontent-fkg-c229] {
    font-size: 18px;
}

.ng-star-inserted h5 {
    color: #000;
}